---
// src/pages/index.astro
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="refresh" content="0; URL=/pokemons/1" />
  </head>
  <body>
    <p>Redirigiendo...</p>
  </body>
</html>